<div class="mat-elevation-z8">
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="id">id</th>
      <th mat-sort-header="name">Name</th>
      <th mat-sort-header="username">Username</th>
      <th mat-sort-header="email">Email</th>
      <th mat-sort-header="phone">Phone</th>
    </tr>

    <tr *ngFor="let user of sortedData">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
    </tr>
  </table>
</div>
