@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: 'Sagoe UI', Arial, sans-serif;
  margin: 0 !important;
  background: rgba(191, 216, 227, 0.4);
}

@supports (display: flex) {
  body {
    padding:0;
    height: 100vh;
  }
}
