 <div class="grid-container">
   <div #menuIcon class="menu-icon" (click)="toggleClassName()">
    <i class="fas fa-bars header__menu"></i>
  </div>

  <header class="header">
    <div class="header__search">Search...</div>
    <div class="header__avatar" (click)="logout()">Log Out</div>
  </header>

  <aside #sidenav class="sidenav" [class.active]="isActive">
    <div class="sidenav__close-icon" (click)="toggleClassName()">
      <i class="fas fa-times sidenav__brand-close"></i>
    </div>
    <ul class="sidenav__list">
      <li class="sidenav__list-item" *ngFor="let menuItem of menuItems;let i = index" (click)="changeActive($event, i)">{{menuItem.title}}</li>
    </ul>
  </aside>

  <main class="main" [ngSwitch]="isVisible">
    <div class="main-header" *ngSwitchDefault>
      <div class="main-header__heading">Hello {{currentUser.firstName}}</div>
      <div class="main-header__updates">
        Updates
      </div>
    </div>

    <div class="main-cards">
      <div class="card" *ngSwitchCase="'1'">
        <app-users [users]="remoteUsers"></app-users>
      </div>
      <div class="card" *ngSwitchCase="'2'">
        <app-catalogs [catalogs]="remoteCatalogs"></app-catalogs>
      </div>
      <div class="card" *ngSwitchCase="'3'">
        <app-flyers></app-flyers>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__copyright">&copy;2019</div>
    <div class="footer__signature">ZoomCatalog</div>
  </footer>
</div>
